extends layout.pug

block content

  article.portfolio-intro

    
    h1 My Portfolio

    
    p This project is aimed at showing off my previous tech degree projects so that potential employers may gain a better understanding into my skillset. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
        each project in data
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=project.image_urls[0], alt=project.project_name)
            h5 project.project_name



